doctype html
html(lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/crumbs/crumbs
    include ../components/gallery/gallery
    include ../components/rating/rating
    include ../components/item-ico-sm/item-ico-sm
    include ../components/item-img/item-img
    include ../components/view-rat/view-rat
    include ../components/footer/footer
    include ../components/includeJS/includeJS

    head
        +head(head.defaults)
    body
        .o-wrapper
            .o-center
                +header()
                .o-page-section.o-page-section--xs
                    +crumbs()
                    .o-grid
                        .o-grid__sm-7.o-grid__md-8
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .o-page-section.o-page-section--sm
                                            .u-text-center.u-mb-25
                                                .c-img.u-mb-15
                                                    img(src="static/img/content/company-logo.png", alt="")
                                                h1.c-h2 Компания Агропласт
                                            +gallery()
                                        .o-page-section.o-page-section--sm
                                            .c-h4.u-text-primary Описание
                                            p
                                                |Опрыскиватель это машина или аппарат для распыла и нанесения жидких пестицидов (в виде растворов, суспензий, эмульсий различной концентрации) на растения в целях борьбы с их вредителями и болезнями, а также для уничтожения сорняков. О. используют и при дезинсекции помещений. По назначению различают О. для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы — ранцевые, конные, тракторные (навесные и прицепные) и авиационные. 
                                            .c-h4.u-text-primary Модельный ряд компании
                                    .c-box__section
                                        .c-h5.u-text-primary Опрыскиватели со штангой от 5м:
                                        .o-grid.o-grid--inline.c-wrap-item-img
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                                    .c-box__section
                                        .c-h5.u-text-primary Опрыскиватели высокой проходимости:
                                        .o-grid.o-grid--inline.c-wrap-item-img
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                                    .c-box__section
                                        .c-h5.u-text-primary Жёлтенькие опрыскиватели:
                                        .o-grid.o-grid--inline.c-wrap-item-img
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg')
                            .o-page-section
                                .c-box
                                    .c-box__section.c-box__section--sm
                                        .c-h4.u-text-primary Отзывы пользователей
                                    .c-box__section.c-box__section--dark
                                        .o-page-section.o-page-section--sm
                                            .c-h4 Оцените модель по ключевым параметрам:
                                            .o-grid
                                                .o-grid__md-6
                                                    .c-list.u-fs-14
                                                        .c-list__row
                                                            .c-list__cell Клиренс
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('2')
                                                        .c-list__row
                                                            .c-list__cell Аэродинамичность
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('3')
                                                        .c-list__row
                                                            .c-list__cell Прохождение поворотов
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('4')
                                                .o-grid__md-6
                                                    .c-list.u-fs-14
                                                        .c-list__row
                                                            .c-list__cell Шум работы
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('5')
                                                        .c-list__row
                                                            .c-list__cell Раскачка
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('6')
                                        .o-page-section.o-page-section--sm
                                            form(action=".")
                                                .c-form-g
                                                    textarea.c-field(rows="5", placeholder="Общее впечатление о модели")
                                                .c-form-g
                                                    textarea.c-field.c-field--success(rows="3", placeholder="Плюсы модели")
                                                .c-form-g
                                                    textarea.c-field.c-field--danger(rows="3", placeholder="Минусы модели")
                                                .o-grid.o-grid--sm
                                                    .o-grid__xs-landscape-4
                                                        .c-form-g
                                                            input.c-field(type="text", placeholder="Ваше имя")
                                                    .o-grid__xs-landscape-4
                                                        .c-form-g
                                                            input.c-field(type="email", placeholder="Ваше имя")
                                                    .o-grid__xs-landscape-4
                                                        .c-form-g
                                                            button(type="submit").c-btn.c-btn--primary.c-btn--full-w Отправить
                                    .c-box__section
                                        .c-h4.u-text-bold Данил, 02.10.16
                                        .o-grid
                                            .o-grid__sm-6
                                                .c-list.u-fs-14
                                                    .c-list__row
                                                        .c-list__cell Клиренс
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 4,9
                                                    .c-list__row
                                                        .c-list__cell Аэродинамичность
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 0,3
                                                    .c-list__row
                                                        .c-list__cell Прохождение поворотов
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 3,5
                                            .o-grid__sm-6
                                                .c-list.u-fs-14
                                                    .c-list__row
                                                        .c-list__cell Шум работы
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 0,3
                                                    .c-list__row
                                                        .c-list__cell Раскачка
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 3,5
                                        p
                                            |Опрыскиватель это машина или аппарат для распыла и нанесения жидких пестицидов (в виде растворов, суспензий, эмульсий различной концентрации) на растения в целях борьбы с их вредителями и болезнями, а также для уничтожения сорняков. О. используют и при дезинсекции помещений. По назначению различают О. для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы — ранцевые, конные, тракторные (навесные и прицепные) и авиационные. 
                                        p
                                            |<span class="u-text-success">Плюсы модели:</span> используют и при дезинсекции помещений. 
                                        p
                                            |<span class="u-text-danger">минусы модели:</span> для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы
                                    .c-box__section
                                        .c-h4.u-text-bold Алексей Петрович, 29.09.16
                                        .o-grid
                                            .o-grid__sm-6
                                                .c-list.u-fs-14
                                                    .c-list__row
                                                        .c-list__cell Клиренс
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 4,9
                                                    .c-list__row
                                                        .c-list__cell Аэродинамичность
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 0,3
                                                    .c-list__row
                                                        .c-list__cell Прохождение поворотов
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 3,5
                                            .o-grid__sm-6
                                                .c-list.u-fs-14
                                                    .c-list__row
                                                        .c-list__cell Шум работы
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 0,3
                                                    .c-list__row
                                                        .c-list__cell Раскачка
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 3,5
                                        p
                                            |По назначению различают О. для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы — ранцевые, конные, тракторные (навесные и прицепные) и авиационные.  
                                        p
                                            |<span class="u-text-danger">минусы модели:</span> для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы
                        .o-grid__sm-5.o-grid__md-4
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .c-h4.u-text-primary.u-text-center Рейтинг модели
                                        +viewRat('u-mb-15')
                                        .c-list.u-fs-14.u-mb-20
                                            .c-list__row
                                                .c-list__cell Клиренс
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 4,9
                                            .c-list__row
                                                .c-list__cell Аэродинамичность
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 0,3
                                            .c-list__row
                                                .c-list__cell Прохождение поворотов
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 3,5
                                            .c-list__row
                                                .c-list__cell Шум работы
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 0,3
                                            .c-list__row
                                                .c-list__cell Раскачка
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 3,5
                                        a(href="#").c-btn.c-btn--info.c-btn--full-w Отзывы пользователей
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .c-h4.u-text-primary.u-text-center Характеристики
                                        .c-list.u-mb-20
                                            .c-list__row
                                                .c-list__cell Производитель
                                                .c-list__cell.u-w-120.u-text-right Agromech
                                            .c-list__row
                                                .c-list__cell Объем бака
                                                .c-list__cell.u-w-120.u-text-right 2 000 л
                                            .c-list__row
                                                .c-list__cell Вес
                                                .c-list__cell.u-w-120.u-text-right 1 325 кг
                                            .c-list__row
                                                .c-list__cell Вес загруженный
                                                .c-list__cell.u-w-120.u-text-right 3 325 кг
                                            .c-list__row
                                                .c-list__cell Длинна штанги
                                                .c-list__cell.u-w-120.u-text-right 15 м
                                        a(href="#").c-btn.c-btn--primary.c-btn--full-w.c-btn--full-h Сделать заявку
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .c-h4.u-text-primary.u-text-center Другие компании
                                        +itemIcoSm(
                                            'static/img/content/img-sm-item-2.png',
                                            'Опрыскиватель прицепной 200 л. Agromech (Польша)'
                                        )
                                        +itemIcoSm(
                                            'static/img/content/img-sm-item-2.png',
                                            'Agromech Опрыскиватель зелёненький'
                                        )
                                        +itemIcoSm(
                                            'static/img/content/img-sm-item-2.png',
                                            'Прицепной опрыскиватель 200 л. Agromech'
                                        )
        +footer()
        +includeJS()
