doctype html
html(lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/crumbs/crumbs
    include ../components/gallery/gallery
    include ../components/rating/rating
    include ../components/item-ico-sm/item-ico-sm
    include ../components/item-img/item-img
    include ../components/view-rat/view-rat
    include ../components/footer/footer
    include ../components/includeJS/includeJS

    head
        +head(head.defaults)
    body
        .o-wrapper
            .o-center
                +header()
                .o-page-section.o-page-section--xs
                    +crumbs()
                    .o-grid
                        .o-grid__sm-7.o-grid__md-8
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .o-page-section.o-page-section--sm
                                            .u-text-center.u-mb-25
                                                .c-img.u-mb-15
                                                    img(src="static/img/content/dealer-logo.png", alt="")
                                                h1.c-h2 Диллер ОпрПро
                                            +gallery()
                                        .o-page-section.o-page-section--sm
                                            .c-h4.u-text-primary О компании
                                            p
                                                |Опрыскиватель это машина или аппарат для распыла и нанесения жидких пестицидов (в виде растворов, суспензий, эмульсий различной концентрации) на растения в целях борьбы с их вредителями и болезнями, а также для уничтожения сорняков. О. используют и при дезинсекции помещений. По назначению различают О. для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы — ранцевые, конные, тракторные (навесные и прицепные) и авиационные. 
                            .o-page-section
                                .c-box.c-slide-content(id="slide-content")
                                    .c-box__section.c-box__section--sm
                                        .c-h4.u-text-primary Контактная информация
                                    .c-box__section
                                        .o-grid
                                            .o-grid__xs-landscape-6.u-mb-15-xs
                                                .u-mb-5 Регион:
                                                .c-dropdown
                                                    button.c-dropdown__btn.c-btn.c-btn--info(data-toggle="dropdown")
                                                    .c-dropdown__menu
                                                        .c-dropdown__link Пункт 1
                                                        .c-dropdown__link Пункт 2
                                                        .c-dropdown__link Пункт 3
                                                        .c-dropdown__link Пункт 4
                                            .o-grid__xs-landscape-6
                                                .u-mb-5 Город:
                                                .c-dropdown
                                                    button.c-dropdown__btn.c-btn.c-btn--info(data-toggle="dropdown")
                                                    .c-dropdown__menu
                                                        .c-dropdown__link Пункт 1
                                                        .c-dropdown__link Пункт 2
                                                        .c-dropdown__link Пункт 3
                                                        .c-dropdown__link Пункт 4
                                    .c-box__section
                                        .o-page-section
                                            .c-h4.u-text-primary Запорожская область
                                            .c-h4.u-mb-10.u-text-bold г. Запорожье
                                            .u-mb-10
                                                |Центральный офис, 08162, Киево-Святошинский район, пгт Чабаны, ул. Машиностроителей, 5а <a href="#" class="c-link-location c-ico c-ico--location">Карта проезда</a>
                                            .u-mb-10
                                                |<span class="u-text-primary">Телефон:</span> (044) 545 56 00, (044) 545 56 06, (050) 411 49 51, (050) 381 89 14
                                            .u-mb-10
                                                |<span class="u-text-primary">Email:</span> office@astra-group.com.ua
                                            .u-mb-10
                                                |<span class="u-text-primary">(GPS) Широта, долгота:</span> 50.340201, 0.424747
                                            a(href="#").c-btn.c-btn--info Оформить заявку
                                        .o-page-section
                                            .c-h4.u-mb-10.u-text-bold г. Васильевка
                                            .u-mb-10
                                                |Центральный офис, 08162, Киево-Святошинский район, пгт Чабаны, ул. Машиностроителей, 5а <a href="#" class="c-link-location c-ico c-ico--location">Карта проезда</a>
                                            .u-mb-10
                                                |<span class="u-text-primary">Телефон:</span> (044) 545 56 00, (044) 545 56 06, (050) 411 49 51, (050) 381 89 14
                                            a(href="#").c-btn.c-btn--info Оформить заявку
                                    .c-box__section
                                        .o-page-section
                                            .c-h4.u-text-primary Киевская область
                                            .c-h4.u-mb-10.u-text-bold г. Киев
                                            .u-mb-10
                                                |Центральный офис, 08162, Киево-Святошинский район, пгт Чабаны, ул. Машиностроителей, 5а <a href="#" class="c-link-location c-ico c-ico--location">Карта проезда</a>
                                            .u-mb-10
                                                |<span class="u-text-primary">Телефон:</span> (044) 545 56 00, (044) 545 56 06, (050) 411 49 51, (050) 381 89 14
                                            .u-mb-10
                                                |<span class="u-text-primary">Email:</span> office@astra-group.com.ua
                                            .u-mb-10
                                                |<span class="u-text-primary">(GPS) Широта, долгота:</span> 50.340201, 0.424747
                                            a(href="#").c-btn.c-btn--info Оформить заявку
                                        .o-page-section
                                            .c-h4.u-mb-10.u-text-bold г. Киев
                                            .u-mb-10
                                                |Центральный офис, 08162, Киево-Святошинский район, пгт Чабаны, ул. Машиностроителей, 5а <a href="#" class="c-link-location c-ico c-ico--location">Карта проезда</a>
                                            .u-mb-10
                                                |<span class="u-text-primary">Телефон:</span> (044) 545 56 00, (044) 545 56 06, (050) 411 49 51, (050) 381 89 14
                                            a(href="#").c-btn.c-btn--info Оформить заявку
                                    .c-slide-content__btn
                                        button.c-btn.c-btn--info(data-toggle="collapse", data-target="#slide-content") Показать больше городов
                            .o-page-section
                                .c-box
                                    .c-box__section.c-box__section--sm
                                        .c-h4.u-text-primary
                                            img(src="static/img/content/h-logo-1.png", alt="").c-h-logo
                                            |John Deere
                                    .c-box__section
                                        .c-h5.u-text-primary Опрыскиватели со штангой от 5м:
                                        .o-grid.o-grid--inline.c-wrap-item-img
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                    .c-box__section
                                        .c-h5.u-text-primary Опрыскиватели высокой проходимости:
                                        .o-grid.o-grid--inline.c-wrap-item-img
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                            .o-page-section
                                .c-box
                                    .c-box__section.c-box__section--sm
                                        .c-h4.u-text-primary
                                            img(src="static/img/content/h-logo-2.png", alt="").c-h-logo
                                            |Porsche
                                    .c-box__section
                                        .c-h5.u-text-primary Опрыскиватели со штангой от 5м:
                                        .o-grid.o-grid--inline.c-wrap-item-img
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                    .c-box__section
                                        .c-h5.u-text-primary Опрыскиватели высокой проходимости:
                                        .o-grid.o-grid--inline.c-wrap-item-img
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                                            .o-grid__xs-landscape-6.o-grid__md-4
                                                +itemImg('static/img/content/img-item-img.jpg', true)
                            .o-page-section
                                .c-box
                                    .c-box__section.c-box__section--sm
                                        .c-h4.u-text-primary Отзывы пользователей
                                    .c-box__section.c-box__section--dark
                                        .o-page-section.o-page-section--sm
                                            .c-h4 Оцените модель по ключевым параметрам:
                                            .o-grid
                                                .o-grid__md-6
                                                    .c-list.u-fs-14
                                                        .c-list__row
                                                            .c-list__cell Клиренс
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('2')
                                                        .c-list__row
                                                            .c-list__cell Аэродинамичность
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('3')
                                                        .c-list__row
                                                            .c-list__cell Прохождение поворотов
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('4')
                                                .o-grid__md-6
                                                    .c-list.u-fs-14
                                                        .c-list__row
                                                            .c-list__cell Шум работы
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('5')
                                                        .c-list__row
                                                            .c-list__cell Раскачка
                                                            .c-list__cell.u-w-105.u-text-right
                                                                +rating('6')
                                        .o-page-section.o-page-section--sm
                                            form(action=".")
                                                .c-form-g
                                                    textarea.c-field(rows="5", placeholder="Общее впечатление о модели")
                                                .c-form-g
                                                    textarea.c-field.c-field--success(rows="3", placeholder="Плюсы модели")
                                                .c-form-g
                                                    textarea.c-field.c-field--danger(rows="3", placeholder="Минусы модели")
                                                .o-grid.o-grid--sm
                                                    .o-grid__xs-landscape-4
                                                        .c-form-g
                                                            input.c-field(type="text", placeholder="Ваше имя")
                                                    .o-grid__xs-landscape-4
                                                        .c-form-g
                                                            input.c-field(type="email", placeholder="Ваше имя")
                                                    .o-grid__xs-landscape-4
                                                        .c-form-g
                                                            button(type="submit").c-btn.c-btn--primary.c-btn--full-w Отправить
                                    .c-box__section
                                        .c-h4.u-text-bold Данил, 02.10.16
                                        .o-grid
                                            .o-grid__sm-6
                                                .c-list.u-fs-14
                                                    .c-list__row
                                                        .c-list__cell Клиренс
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 4,9
                                                    .c-list__row
                                                        .c-list__cell Аэродинамичность
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 0,3
                                                    .c-list__row
                                                        .c-list__cell Прохождение поворотов
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 3,5
                                            .o-grid__sm-6
                                                .c-list.u-fs-14
                                                    .c-list__row
                                                        .c-list__cell Шум работы
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 0,3
                                                    .c-list__row
                                                        .c-list__cell Раскачка
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 3,5
                                        p
                                            |Опрыскиватель это машина или аппарат для распыла и нанесения жидких пестицидов (в виде растворов, суспензий, эмульсий различной концентрации) на растения в целях борьбы с их вредителями и болезнями, а также для уничтожения сорняков. О. используют и при дезинсекции помещений. По назначению различают О. для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы — ранцевые, конные, тракторные (навесные и прицепные) и авиационные. 
                                        p
                                            |<span class="u-text-success">Плюсы модели:</span> используют и при дезинсекции помещений. 
                                        p
                                            |<span class="u-text-danger">минусы модели:</span> для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы
                                    .c-box__section
                                        .c-h4.u-text-bold Алексей Петрович, 29.09.16
                                        .o-grid
                                            .o-grid__sm-6
                                                .c-list.u-fs-14
                                                    .c-list__row
                                                        .c-list__cell Клиренс
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 4,9
                                                    .c-list__row
                                                        .c-list__cell Аэродинамичность
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 0,3
                                                    .c-list__row
                                                        .c-list__cell Прохождение поворотов
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 3,5
                                            .o-grid__sm-6
                                                .c-list.u-fs-14
                                                    .c-list__row
                                                        .c-list__cell Шум работы
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 0,3
                                                    .c-list__row
                                                        .c-list__cell Раскачка
                                                        .c-list__cell.u-w-35.u-text-right
                                                            .u-text-primary.u-fs-16 3,5
                                        p
                                            |По назначению различают О. для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы — ранцевые, конные, тракторные (навесные и прицепные) и авиационные.  
                                        p
                                            |<span class="u-text-danger">минусы модели:</span> для обработки полевых культур, садов, виноградников; по типу распыливающих устройств — гидравлические, вентиляторные и аэрозольные (см. Аэрозольный генератор); по способу транспортировки во время работы
                        .o-grid__sm-5.o-grid__md-4
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .c-h4.u-text-primary.u-text-center Рейтинг модели
                                        +viewRat('u-mb-15')
                                        .c-list.u-fs-14.u-mb-20
                                            .c-list__row
                                                .c-list__cell Клиренс
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 4,9
                                            .c-list__row
                                                .c-list__cell Аэродинамичность
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 0,3
                                            .c-list__row
                                                .c-list__cell Прохождение поворотов
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 3,5
                                            .c-list__row
                                                .c-list__cell Шум работы
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 0,3
                                            .c-list__row
                                                .c-list__cell Раскачка
                                                .c-list__cell.u-w-65.u-text-right
                                                    .u-text-primary.u-fs-16 3,5
                                        a(href="#").c-btn.c-btn--info.c-btn--full-w Отзывы пользователей
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .c-h4.u-text-primary.u-text-center Характеристики
                                        .c-list.u-mb-20
                                            .c-list__row
                                                .c-list__cell Производитель
                                                .c-list__cell.u-w-120.u-text-right Agromech
                                            .c-list__row
                                                .c-list__cell Объем бака
                                                .c-list__cell.u-w-120.u-text-right 2 000 л
                                            .c-list__row
                                                .c-list__cell Вес
                                                .c-list__cell.u-w-120.u-text-right 1 325 кг
                                            .c-list__row
                                                .c-list__cell Вес загруженный
                                                .c-list__cell.u-w-120.u-text-right 3 325 кг
                                            .c-list__row
                                                .c-list__cell Длинна штанги
                                                .c-list__cell.u-w-120.u-text-right 15 м
                                        a(href="#").c-btn.c-btn--primary.c-btn--full-w.c-btn--full-h Сделать заявку
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .c-h4.u-text-primary.u-text-center Регионы
                                        .c-list.u-mb-20
                                            .c-list__row
                                                .c-list__cell Запорожская область
                                            .c-list__row
                                                .c-list__cell Днепропетровская область
                                            .c-list__row
                                                .c-list__cell Киевская область
                            .o-page-section
                                .c-box
                                    .c-box__section
                                        .c-h4.u-text-primary.u-text-center Другие дилеры
                                        +itemIcoSm(
                                            'static/img/content/img-sm-item-2.png',
                                            'Опрыскиватель прицепной 200 л. Agromech (Польша)'
                                        )
                                        +itemIcoSm(
                                            'static/img/content/img-sm-item-2.png',
                                            'Agromech Опрыскиватель зелёненький'
                                        )
                                        +itemIcoSm(
                                            'static/img/content/img-sm-item-2.png',
                                            'Прицепной опрыскиватель 200 л. Agromech'
                                        )
        +footer()
        +includeJS()
