mixin itemIcoSm(src, text)
    a(href="#").c-item-ico-sm
        span.c-item-ico-sm__cell.u-w-100
            img(src=src, alt="")
        span.c-item-ico-sm__cell
            span.c-rt.c-ico.c-ico--star 4,5
            span.c-item-ico-sm__text
                | #{text}
