mixin itemImg(src, isbtn)
    .c-item-img
        a(href="#").c-item-img__img
            img(src=src, alt="")
        a(href="#").c-item-img__content
            span.c-rt.c-ico.c-ico--star 4,5
            | Опрыскиватель прицепной 200 л.(пластик) Agromech (Польша)
        - if (isbtn)
        a(href="#").c-btn.c-btn--primary.c-btn--lg-fs.c-btn--full-w Заказать
