mixin botPanel()
	.c-bot-panel
		.o-center
			.c-h2.c-bot-panel__h Лучшие производители опрыскивателей
			.c-bot-panel__icons
				a(href="#")
					img(src="static/img/content/img-f-1.png", alt="")
				a(href="#")
					img(src="static/img/content/img-f-2.png", alt="")
				a(href="#")
					img(src="static/img/content/img-f-3.png", alt="")
				a(href="#")
					img(src="static/img/content/img-f-1.png", alt="")
				a(href="#")
					img(src="static/img/content/img-f-2.png", alt="")
				a(href="#")
					img(src="static/img/content/img-f-3.png", alt="")