mixin includeJS()
    script(src='%=static=%js/separate-js/jquery-3.1.1.min.js')
    script(src='%=static=%js/separate-js/bs-plugins.js')
    script(src='%=static=%js/separate-js/slick.js')
    script(src='%=static=%js/separate-js/jquery.fancybox.pack.js')
    script(src='%=static=%js/separate-js/jquery.fancybox-media.js')
    script(src='%=static=%js/separate-js/main.js')
