mixin rating(id)
	.c-rating
		input(type="radio", name="radio-rat-"+id, id="btn-rat-5"+id)
		label.c-rating__btn(for="btn-rat-5"+id, title="5")
		input(type="radio", name="radio-rat-"+id, id="btn-rat-4"+id)
		label.c-rating__btn(for="btn-rat-4"+id, title="4")
		input(type="radio", name="radio-rat-"+id, id="btn-rat-3"+id)
		label.c-rating__btn(for="btn-rat-3"+id, title="3")
		input(type="radio", name="radio-rat-"+id, id="btn-rat-2"+id)
		label.c-rating__btn(for="btn-rat-2"+id, title="2")
		input(type="radio", name="radio-rat-"+id, id="btn-rat-1"+id)
		label.c-rating__btn(for="btn-rat-1"+id, title="1")