.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    min-height: 90px;

    &__content {
        float: left;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        float: left;
        height: 60px;
        font-size: 0;

        &:before,
        img {
            display: inline-block;
            vertical-align: middle;
        }

        &:before {
            content: '';
            width: 0;
            height: 100%;
        }
    }
}


@media (max-width: $media-sm - 1px) {

    .c-header {

        .c-search {
            margin: 10px 0 0 0;
            width: 100%;
        }

    }

}

@media (min-width: $media-sm) {

    .c-header {

        &__content {
            padding: 0 5px 0 0;
        }

    }

}
