mixin mainBunner()
	.c-main-bunner.slick-slider.js-slider
		- for (let i = 0;i < 4;i ++)
			.c-main-bunner__item
				img(src="static/img/content/img-bunner.jpg", alt="").c-main-bunner__img
				.c-main-bunner__content
					.c-main-bunner__h Трактор в поле дыр-дыр-дыр
					div Урожяй растет хороший слющай
					div Заказывай на оприсках!
					a(href="#").c-btn.c-btn--primary Выбрать опрыскиватель