mixin result(modifeir)
	.c-result.c-box(class=modifeir)
		a(href="#").c-result__img
			img(src="static/img/content/img-res.jpg", alt="")
		.c-result__inner
			.o-grid
				.o-grid__md-9
					a(href="#").c-result__h.c-h4 Опрыскиватель прицепной 200 л.(пластик) Agromech (Польша)
					.o-grid
						.o-grid__xs-12.o-grid__sm-6
							.o-grid
								.o-grid__xs-6.c-result__cell
									.c-result__sub-h Производитель
									.c-result__val
										a(href="#").c-result__val-link Agromech
								.o-grid__xs-6.c-result__cell
									.c-result__sub-h Рейтинг
									.c-result__val.c-ico.c-ico--star 4,5
						.o-grid__xs-12.o-grid__sm-6
							.o-grid
								.o-grid__xs-6.c-result__cell
									.c-result__sub-h Штанга
									.c-result__val 15 м
								.o-grid__xs-6.c-result__cell
									.c-result__sub-h БАК
									.c-result__val 2 000 л
				.o-grid__md-3
					.c-result__btn
						a(href="#").c-btn.c-btn--primary.c-btn--full-w Сделать заявку
