.o-grid {
	margin-left: -15px;
	margin-right: -15px;
	@include cf; 

  &--sm {
    margin-left: -5px;
    margin-right: -5px;

    & > [class^="o-grid"] {
      padding-left: 5px;
      padding-right: 5px;    
    }
  }
}
.o-grid__xs-1, .o-grid__sm-1, .o-grid__md-1,
.o-grid__xs-2, .o-grid__sm-2, .o-grid__md-2,
.o-grid__xs-3, .o-grid__sm-3, .o-grid__md-3,
.o-grid__xs-4, .o-grid__sm-4, .o-grid__md-4,
.o-grid__xs-5, .o-grid__sm-5, .o-grid__md-5,
.o-grid__xs-6, .o-grid__sm-6, .o-grid__md-6,
.o-grid__xs-7, .o-grid__sm-7, .o-grid__md-7,
.o-grid__xs-8, .o-grid__sm-8, .o-grid__md-8,
.o-grid__xs-9, .o-grid__sm-9, .o-grid__md-9,
.o-grid__xs-10, .o-grid__sm-10, .o-grid__md-10,
.o-grid__xs-11, .o-grid__sm-11, .o-grid__md-11,
.o-grid__xs-12, .o-grid__sm-12, .o-grid__md-12,
.o-grid__xs-p-1, .o-grid__xs-p-2, .o-grid__xs-p-3, .o-grid__xs-p-4,
.o-grid__xs-p-5, .o-grid__xs-p-6, .o-grid__xs-p-7, .o-grid__xs-p-8,
.o-grid__xs-p-9, .o-grid__xs-p-10, .o-grid__xs-p-11, .o-grid__xs-p-12 {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;    
  width: 100%;
}
.o-grid__xs-12 {
  width: 100%;
}
.o-grid__xs-11 {
  width: 91.66666667%;
}
.o-grid__xs-10 {
  width: 83.33333333%;
}
.o-grid__xs-9 {
  width: 75%;
}
.o-grid__xs-8 {
  width: 66.66666667%;
}
.o-grid__xs-7 {
  width: 58.33333333%;
}
.o-grid__xs-6 {
  width: 50%;
}
.o-grid__xs-5 {
  width: 41.66666667%;
}
.o-grid__xs-4 {
  width: 33.33333333%;
}
.o-grid__xs-3 {
  width: 25%;
}
.o-grid__xs-2 {
  width: 16.66666667%;
}
.o-grid__xs-1 {
  width: 8.33333333%;
}

@media (min-width: $media-xs) {
  .o-grid__xs-p-12 {
    width: 100%;
  }
  .o-grid__xs-p-11 {
    width: 91.66666667%;
  }
  .o-grid__xs-p-10 {
    width: 83.33333333%;
  }
  .o-grid__xs-p-9 {
    width: 75%;
  }
  .o-grid__xs-p-8 {
    width: 66.66666667%;
  }
  .o-grid__xs-p-7 {
    width: 58.33333333%;
  }
  .o-grid__xs-p-6 {
    width: 50%;
  }
  .o-grid__xs-p-5 {
    width: 41.66666667%;
  }
  .o-grid__xs-p-4 {
    width: 33.33333333%;
  }
  .o-grid__xs-p-3 {
    width: 25%;
  }
  .o-grid__xs-p-2 {
    width: 16.66666667%;
  }
  .o-grid__xs-p-1 {
    width: 8.33333333%;
  }
}
@media (min-width: $media-sm) {
  .o-grid__sm-12 {
    width: 100%;
  }
  .o-grid__sm-11 {
    width: 91.66666667%;
  }
  .o-grid__sm-10 {
    width: 83.33333333%;
  }
  .o-grid__sm-9 {
    width: 75%;
  }
  .o-grid__sm-8 {
    width: 66.66666667%;
  }
  .o-grid__sm-7 {
    width: 58.33333333%;
  }
  .o-grid__sm-6 {
    width: 50%;
  }
  .o-grid__sm-5 {
    width: 41.66666667%;
  }
  .o-grid__sm-4 {
    width: 33.33333333%;
  }
  .o-grid__sm-3 {
    width: 25%;
  }
  .o-grid__sm-2 {
    width: 16.66666667%;
  }
  .o-grid__sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: $media-md) {
  .o-grid__md-12 {
    width: 100%;
  }
  .o-grid__md-11 {
    width: 91.66666667%;
  }
  .o-grid__md-10 {
    width: 83.33333333%;
  }
  .o-grid__md-9 {
    width: 75%;
  }
  .o-grid__md-8 {
    width: 66.66666667%;
  }
  .o-grid__md-7 {
    width: 58.33333333%;
  }
  .o-grid__md-6 {
    width: 50%;
  }
  .o-grid__md-5 {
    width: 41.66666667%;
  }
  .o-grid__md-4 {
    width: 33.33333333%;
  }
  .o-grid__md-3 {
    width: 25%;
  }
  .o-grid__md-2 {
    width: 16.66666667%;
  }
  .o-grid__md-1 {
    width: 8.33333333%;
  }
}


.u-vis-xs,
.u-vis-sm,
.u-vis-md {
  display: none !important;
}
@media (max-width: $media-sm - 1px) {
  .u-vis-xs {
    display: block !important;
  }
  .u-hide-xs {
    display: none !important;
  }
}
@media (min-width: $media-sm) and (max-width: $media-md - 1px) {
  .u-vis-sm {
    display: block !important;
  }
  .u-hide-sm {
    display: none !important;
  }
}
@media (min-width: $media-md) {
  .u-vis-md {
    display: block !important;
  }
  .u-hide-md {
    display: none !important;
  }
}
